{% extends 'base.html' %}
{% block title %}Add Definition{% endblock %}
{% block content %}

<h3 class="center">Add Definition</h3>

    <form action="{{url_for('insert_definition') }} " method="POST" class="col-lg-8 col-md-10 mx-auto">
         <div class="row form-group">
            <div class="col-12">
                <i class="material-icons prefix">assignment</i>
                <label>BIM Term</label>
                <input id="term" name="term" type="text" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <label for="language"><i class="material-icons prefix">language</i> Language</label>
                <select class="form-control" id="language" name="language">
                    <option value="" disabled selected>Choose Language</option>
                    {% for language in languages %}
                        <option value="{{language.name}}">{{language.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row form-group">            
            <div class="col-12">
                <i class="material-icons prefix">subject</i>
                <label>Definition</label>
                <textarea name="description" id="description" type="tel" class="form-control"></textarea>
            </div>
        </div>
        <div class="row form-group center">
            <button class="btn btn-primary" type="submit">
                <i class="material-icons right">playlist_add_check</i>Add Term
            </button>
        </div>    
    </form>

{% endblock %}