{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="accordion" id="accordion">
    {% for definition in definitions %}
    <div class="card">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{definition._id}}" aria-expanded="false" aria-controls="{{definition._id}}">
            <div class="row card-header" id="{{definition._id}}">
                    <div class="col-lg-6 col-md-12">
                        <i class="material-icons">expand_more</i><strong>{{definition.term}}</strong>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <i class="material-icons">language</i><strong>{{definition.language}}</strong>
                    </div>
            </div>
        </button>

        <div id="collapse{{definition._id}}" class="collapse" aria-labelledby="{{definition._id}}" data-parent="#accordion">
            <div class="card-body">
                <span>{{definition.description}}</span>
                <hr>
                <div class="center">
                    <span>Last modified by: {{definition.user}}</span>
                    {% if session.name %}
                        <a href="{{url_for('edit_definition', definition_id=definition._id)}}" class="btn btn-primary btn_small">Edit</a>
                    {% else %} 
                        <a href="{{url_for('user_login')}}" class="btn btn-primary btn_small">Login to Edit or Add terms</a>
                    {% endif %}         
                </div>  
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}   