{% extends "base.html" %}
{% block title %}SignUp{% endblock %}
{% block content %}

<h3 class="center">Sign Up</h3>
<div class="col-lg-8 col-md-10 mx-auto"> 
    <form action="{{url_for('add_user') }}" method="POST" class="col-lg-8 col-md-10 mx-auto">
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" class="form-control" id="user_name" aria-describedby="userHelp" name="user_name" required value={{user_name}}>
            <small id="userHelp" class="form-text text-muted">Your username will be visible when adding or editing terms</small>
            {% if user_validation == False %}
                <div class="failed">Username is already in use</div>
            {% endif %} 
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="user_email" required value={{user_email}}>
            {% if email_validation == False %}
                <div class="failed">This email address is not valid or already in use</div>
            {% endif %}        
        </div>
        <div class="form-group">
            <label for="password control-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required/>
            {% if pw_validation == False %}
                <div class="failed">Passwords did not match</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="confirm control-label">Repeat Password</label>
            <input type="password" class="form-control" id="cPassword" name="cpassword" required/>
        </div>
        <button type="submit" name="submit" value="Sign Up"  class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}